.container__big-card {
  /* border: solid white 2px; */
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  height: 500px;

  display: flex;
  flex-direction: column;
  alig-items: flex-start;
  justify-content: flex-start;
}

.big-card__title h1 {
  font-size: 25px;
  margin-top: 15px;
}

.big-card__description p {
  margin-top: 10px;
  color: grey;
}

.big-card__picture img {
  border-radius: 10px;
  width: 100%;
  min: 398px;
}
