.container__menu-title {
  color: white;
}

.menu-title__principal > h1 {
  font-size: 100px;
  font-family: 'Segoe UI';
  display: flex;
  justify-content: center;
}

.menu-title__subtitle h3 {
  margin-bottom: 15px;
  font-family: 'Segoe UI';
  display: flex;
  justify-content: center;
  color: gold;
}

.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 5px;
}

.menu-title__description {
  display: flex;
  justify-content: center;
}

