<div class="container__menu-title">
  <hr>
    <div class="menu-title__principal">
      <h1 class>DINAMUS</h1>
    </div>

    <div class="menu-title__subtitle">
      <h3>Zacarias 4:6</h3>
    </div>

    <div class="menu-title__description">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    </div>
  <hr>
</div>
